<div class="empty-wrapper">
    <div class="d-flex justify-content-between align-items-center">
        <h3>It seems that the quiz didn't have any questions...</h3>
        <form asp-controller="Quiz" asp-action="Index" method="get">
            <button type="submit" class="btn btn-danger text-white">Return</button>
        </form>
    </div>
</div>