@model quiz_project.ViewModels.QuizViewModel;

<div class="welcome-wrapper">
    <h1 class="welcome-title">Welcome to the quiz: @Model.Title</h1>

    <div class="welcome-info">
        <h3>Total score: @Model.TotalScore</h3>
        <h3>Total question count: @Model.QuestionCount</h3>
        <div class="description-box">
            @Model.Description
        </div>
    </div>

    <div class="button-group">
        <form asp-controller="QuizGame" asp-action="Index" method="get">
            <input type="hidden" name="QuizId" value="@Model?.QuizId" />
            <button type="submit" class="btn btn-success text-white">Continue</button>
        </form>

        <form asp-controller="Quiz" asp-action="Index" method="get">
            <button type="submit" class="btn btn-danger text-white">Return</button>
        </form>
    </div>
</div>
