@{
    ViewData["Title"] = "Quiz site";
}
@model List<quiz_project.Models.QuizViewModel>

<div class="container">
    <div class="">
        <h1>@ViewData["Title"]</h1>

        <button class="btn btn-success">
            <a class="nav-link text-white" asp-area="" asp-controller="Quiz" asp-action="Create">Create
                quiz</a>
        </button>
    </div>
</div>

<div class="container">
    <div class="row align-items-start">
        @{
            await Html.RenderPartialAsync("~/Views/Shared/_QuizDetails.cshtml");
        }
    </div>
</div>
