@{
    ViewData["Title"] = "Quiz site";
}
@model List<quiz_project.Models.QuizViewModel>

<h1>@ViewData["Title"]</h1>

<ul>
    @foreach (QuizViewModel quizViewModel in @Model)
    {
        <li>
            @quizViewModel?.Title | @quizViewModel?.Description
        </li>
    }
</ul>