<h3>Sadly, your great quiz does not have any attempts</h3>

<form asp-controller="Quiz" asp-action="Index" method="get" class="col">
    <button type="submit" class="btn btn-danger text-white" style="margin: 2px">Return</button>
</form>